<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
</head>
<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.11.0/angular-translate.min.js'></script>
<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/css.css" />
<!-- Your application bootstrap  -->
<script src="data/country.js"></script>
<script src="data/service_type.js"></script>
<script src="data/price_1.js"></script>
<script src="data/price_2.js"></script>
<script src="data/price_3.js"></script>
<script src="data/price_4.js"></script>
<script src="data/price_5.js"></script>
<script src="data/price_6.js"></script>
<script src="data/price_7.js"></script>
<script src="data/price_891011.js"></script>
<script src="data/price_12.js"></script>


<script src="data/zone.js"></script>

<script src="js/app.js"></script>
<script src="js/cal_controller.js"></script>

<body ng-app="BlankApp" ng-cloak>
  <!--
    Your HTML content here
  -->


  <div ng-controller="DemoCtrl as ctrl" layout="column" ng-cloak>
    <md-content class="md-padding">
      <form name="cal_form" ng-submit="$event.preventDefault()">
        <div>
          <md-autocomplete required md-input-name="country" ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.COUNTRY_NAME" md-min-length="0" placeholder="Please Enter cuntry">
            <md-item-template>
              <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.COUNTRY_NAME}}</span>
            </md-item-template>
          </md-autocomplete>
        </div>

        <br/>
        <a href="#" ng-click="ctrl.addCriteria()">
          <i class="material-icons" style="color:rgb(60, 192, 60);">playlist_add</i>
        </a>


        <a href="#" ng-click="ctrl.criteria_list.splice(0,1)">
          <i class="material-icons" style="color:rgb(187, 22, 22);">clear</i>
        </a>
        <div ng-repeat="cri in ctrl.criteria_list">
          <md-input-container flex="15">
            <label>{{'_weight' | translate}}</label>
            <input ng-init="cri._weight = 1" style="text-align:right" required="true" type="number" name="cri_weight{{$index}}" ng-model="cri._weight"
              step="0.5">
            <div ng-messages="cal_form._weight.$error" multiple="" md-auto-hide="false">
              <div ng-message="required">

              </div>
              <div ng-message="min">

              </div>
              <div ng-message="pattern">

              </div>
              <div ng-message="max">

              </div>
            </div>
          </md-input-container>



          <md-input-container flex="15">
            <label>{{'_width' | translate}}</label>
            <input style="text-align:right" type="number" name="_width{{$index}}" ng-model="cri._width" min="1" step="1">
            <div ng-messages="cal_form._width{{$index}}.$error" multiple="" md-auto-hide="false">
              <div ng-message="required">
              </div>
            </div>
          </md-input-container>

          <md-input-container flex="15">
            <label>{{'_height' | translate}}</label>
            <input style="text-align:right" type="number" name="_height{{$index}}" ng-model="cri._height" min="1" step="1">
            <div ng-messages="cal_form._height{{$index}}.$error" multiple="" md-auto-hide="false">
              <div ng-message="required">

              </div>
            </div>
          </md-input-container>
          <md-input-container flex="15">
            <label>{{'_length' | translate}}</label>
            <input style="text-align:right" type="number" name="_length{{$index}}" ng-model="cri._length" min="1" step="1">
            <div ng-messages="cal_form._length{{$index}}.$error" multiple="" md-auto-hide="false">
              <div ng-message="required">

              </div>
            </div>
          </md-input-container>


          <md-input-container flex="15">
            <label>{{'_amount' | translate}}</label>
            <input style="text-align:right" type="number" step="any" ng-init="cri._amount =1" name="_amount{{$index}}" ng-model="cri._amount"
              min="1">
            <div ng-messages="cal_form._amount{{$index}}.$error" multiple="" md-auto-hide="false">
              <div ng-message="required">
              </div>
            </div>
          </md-input-container>

          <md-input-container flex="15">
            <label>{{'_cbm' | translate}}</label>
            <input style="text-align:right" type="number" step="any" name="_amount{{$index}}" ng-model="cri._cbm" min="1">
            <div ng-messages="cal_form._cbm{{$index}}.$error" multiple="" md-auto-hide="false">
            </div>
          </md-input-container>






        </div>
        <!-- <section layout="row" layout-sm="column" layout-align="right right" layout-wrap="">
          <md-button ng-disabled="cal_form.$invalid" class="md-raised md-primary" ng-click="ctrl.calActin()">{{'cal_action'|translate}}</md-button>
        </section> -->



      </form>

    </md-content>

    <md-content class="md-padding" ng-if="!show_result">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">ราคาค่าขนส่งตามข้อมูลที่กรอก</span>
          </md-card-title-text>

        </md-card-title>
        <md-card-content>
          <div layout="row" layout-align="space-between center" ng-repeat="item in ctrl.service_result">

            <div>{{item.SERVICE_NAME_TH}}</div>
            <div ng-if="item.PORT_NAME">{{item.PORT_NAME}}</div>
            <div>{{item.PRICE|number}}</div>

          </div>
          <div layout="row" layout-align="space-between center">*เมืองอื่นหรือบริการที่ไม่ขึ้นราคา กรุณาติดต่อเรา</div>

        </md-card-content>

        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
      </md-card>
    </md-content>
  </div>

</body>

</html>

<!--
Copyright 2016-2018 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at https://material.angularjs.org/latest/license.
-->